---
import "../../node_modules/bulma/css/bulma.css";
import '../styles/global.css';
import FixedLogo from '../components/FixedLogoPanel.svelte';

import { SEO } from "astro-seo";
// const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

import data from '../instance.json'
---

<html lang="en">
	<head>
		<meta charset="utf-8" /><link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/56fbfd2d37013b142d331d72/1500913866446-5OE5FYG4545FJGUF00IE/favicon.ico?format=100w">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="generator" content={Astro.generator} />
		<title>{data.appTitle} | {Astro.props.pageName}</title>
		<SEO
			title = {data.appTitle}
			description = {data.appDescription}
			openGraph={{
				basic: {
				url: "",
				title: "",
				type: "",
				image: ""
			}}
		}
		/>
	</head>
	<body>
		<FixedLogo />
        <slot />
	</body>
</html>
